### 5.2.1 Mysql

In [11]:
import pymysql

db = pymysql.connect(host='localhost', user='root', password='htwoo111', port=3307)
cursor = db.cursor()
cursor.execute('SELECT VERSION()')
data = cursor.fetchone()
print('Database Version is ', data)

cursor.execute('CREATE DATABASE spiders DEFAULT CHARACTER SET utf8')
db.close()

Database Version is  ('8.0.17',)

D:\anaconda\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

In [18]:
db = pymysql.connect(host='localhost', user='root', password='htwoo111', port=3307, db='spiders')


cursor = db.cursor()
sql = 'CREATE TABLE students (id VARCHAR(255) NOT NULL, name VARCHAR(255) NOT NULL, age INT NOT NULL, PRIMARY KEY (ID))'
cursor.execute(sql)
db.close()

InternalError: (1050, "Table 'students' already exists")

In [1]:
import pymongo
client = pymongo.MongoClient(host='localhost', port=27017)